[core]
  editor = vim
  symlinks = true
[init]
  defaultBranch = main
[alias]
  oups = commit --amend --no-edit
  cob = checkout -b
  co = checkout
  s = status
  del = branch -D
  done = !git push origin HEAD
[user]
	name = Théo Dugautier
	email = theo.dugautier@protonmail.com
	;signingkey = 26B4CB2AFB01DFE559B2379665512F7E307721E6
;[gpg]
	;program = /opt/homebrew/bin/gpg
;[commit]
	;gpgsign = true
